html {
    body {
        margin: 0;
        height: auto;


        header {
            background-color: darkcyan;
            color: white;
            padding: 15pt;

            h1 {
                font-size: 36;
            }

            h3 {
                font-size: 15;
            }

            .menu {
                a {
                    margin: 10px;
                    color: white;

                    :visited {
                        color: azure;
                    }
                }
            }
        }

        #index {
            li {
                list-style-type: none;
                padding: 10px;
            }
        }

        section {
            width: 70%;
            padding: 20pt 80pt;

            span.MJXc-display {
                overflow-x: auto;
                overflow-y: hidden;
            }

            mjx-container {
                overflow-x: auto;
                overflow-y: hidden;
            }

            .subsection {
                margin-bottom: 80px;
            }

            .note {
                background-color: rgb(245, 245, 245);
                padding: 5%;
                border-radius: 10px;
            }

            h1 {
                font-size: 36;
            }


            figure {
                text-align: center;
                font-size: small;
                color: rgb(70, 70, 70);
                width: 90%;
                max-width: 500px;

                img {
                    width: 100%;
                }
            }
        }

        footer {
            background-color: darkcyan;
            color: white;
            padding: 15pt;

            a {
                color: white;

                :visited {
                    color: azure;
                }
            }
        }
    }
}
